<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/style_home.css">
		<title>Direct Flight Builder</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://www.upenn.edu//sites/default/files/favicons/favicon-32x32.png" sizes="32x32">
	</head>
	<body>
		<div class = "contents">
			<h1>
				Welcome to the Direct Flight Builder!
			</h1>
			<br>
			<p>Click the load button to preprocess flight data from 1990 to 2018. This would take about 90 seconds to load. 
			Afterwards, the Direct Flights calculator will be displayed, a tool that can determine the number of airport pairs 
			which offer direct flights between any two given locations. </p>
			<br>
			<form method = "POST">
				<div class="actions"></div>
					<input class = "button" type = "submit" name = "load" value= "Load Data"/>
				</div>
			</form>
			<br>
			<br>
			<br>
			<img align = "middle" src = "http://pluspng.com/img-png/free-png-hd-planes-airplane-png-clipart-5060.png">

			<p class = "footer">Created By: <br><br>
			Kenneth Shinn - kshinn@sas.upenn.edu<br>
			Stacey Chen - staceyjc@seas.upenn.edu</p>
		</div>
	</body>
</html>
